body {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-img img {
    height: auto;
    width: 150%;
    border-radius: 100%;
}

.header-name-first{
    font-size: 60px;
    font-weight: 100;
    line-height: 25px;
    color: #939393;
}

.header-name-second {
    font-size: 100px;
    font-weight: bold;
    color: #F8BB10;
}

.contacts {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    margin: 30px 0;

    border-top: 1px solid #939393;
}

.contacts-location,
.contacts-phone,
.contacts-email {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.contacts .title {
    font-weight: bold;
    color: #727272;
}

.contacts span {
    color: #939393;
}

.summary {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}

h3 {
    letter-spacing: 1px;
    color: #727272;
}

h4 {
    font-size: 15px;
    color: #727272;
    font-weight: 100;
}

h5 {
    font-size: 13px;
    color: #727272;
    font-weight: 100;
    margin: 0 0;
    word-wrap: break-word;
    width: 250px;
}

.summary-content {
    width: 768px;
    font-size: 20px;
    word-wrap: break-word;
    color: #939393;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}

.skills-list {
    width: 768px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.percent {
    font-size: 20px;
    color: #F8BB10;
    padding-right: 10px;
}

.skill-name {
    display: flex;
    align-items: center;
}

progress {
    width: 300px;
    height: 8px;
    -webkit-appearance: none;
}

::-webkit-progress-bar {
    background-color: rgba(0, 0, 0, 0.14);
}

::-webkit-progress-value {
    background-color: #F8BB10;
}

.experience {
    display: flex;
    justify-content: space-between;
}

.experience-list {
    width: 768px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.experience-list-box {
    width: 384px;
    display: flex;
    justify-content: flex-start;

}

.experience-list-box-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 0 10px;
}

.experience-list-box-number {
    font-size: 20px;
    color: #F8BB10;
    padding-top: 18px;
}

.experience-list-box-content p {
    width: 300px;
    word-wrap: break-word;
    font-size: 17px;
    color: #939393;
    margin: 0 0;
}

.education {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 100px 0;
}

.education .years {
    font-size: 13px;
    color: #939393;
}

.education-list {
    width: 768px;
}

.education-list-content {
    padding: 20px 0;
    border-bottom: 1px solid #939393;
}

.english {
    display: flex;
    justify-content: space-between;
}

.english-progressbars {
    width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}